.pinSaveBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.delete {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 90%;
  text-align: left !important;
}
.more {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 90%;
  text-align: left !important;
}
.on-hide {
  display: none;
}
.hidden {
  visibility:invisible;
}

.card:hover .on-hide {
  display: block;
}

.modalImg {
  max-width: 390px !important;
  max-height: 500px !important;
}

.list-group-item {
  padding: 0 1.25rem !important;
  border: none !important;
}

.list-group-item:hover {
  background-color: #e8e8e8;
}

.list-group-item:hover .on-hide {
  display: block;
}

/* Board list cards
=================================*/
.card-footer {
  margin-top: auto;
}
.card.board-card {
  margin-top: 1.5em;
}

.board-row {
  justify-content: space-between
}

.board-column {
  column-gap: 0.1em;
  padding: 0.1em;
  max-height: 20em;
  overflow: hidden;
}
.board-column .card {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.pencilIcon {
  color: #999;
  font-size: 1.5em;
}

.pencilIcon:hover {
  cursor: pointer;
}

.modalBoards {
  min-height: 400px !important;
}

.myBoards {
  height: 250px !important;
  overflow-y: auto;
}

h6.card-text {
  max-width: 75% !important;
}

.cardAuthor {
  font-size: 0.25em;
  padding-left: 1em;
}

.outsideCard {
  padding-left: 0.75em;
  padding-top: 0.75em;
  padding-right: 0.75em;
  border-radius: 5px;
}

.outsideCard:hover {
  transition: background-color 0.75s ease;
  background-color: #e8e8e8;
}

.outsideCard:hover .card {
  transition: background-color 0.75s ease;
  background-color: #e8e8e8;
}

.outsideCard:hover .btn.delete {
  display: block;
}

.searchCard {
  border: none !important;
}

div.imgBackground {
  display: inline-block;
  background: black;
  padding: 0;
}

div.imgBackground:hover img {
  transition: opacity 0.25s ease;
  opacity: 0.8;
}

h6.card-text.p-2 {
  margin-right: auto;
}

.newBoardForm {
  padding-left: 15px;
  padding-right: 15px;
}

.modalCardInfo {
  border-right: 1px solid #e8e8e8;
}

.createNewBoard {
  border-top: 1px solid #e8e8e8;
}

.overlay {
  width: 100%;
  height: 2000px;
  position: fixed;
  background-color: #BEBEBE;
  opacity: 0.5;
  z-index: 3;
}

.loginQModal {
  position: fixed;
  top: 44vh;
  left: 47vw;
  background: white;
  padding: 2em;
  border-radius: 5px;
  opacity: 1 !important;
  z-index: 5;
}

