.btn-danger {
    position: absolute;
    right: 10px;
    top: 10px;
}

.on-hide {
    display: none;
}

.card:hover .on-hide {
    display: block;
}

.modalImg {
    max-width: 390px !important;
    max-height: 500px !important;
}

.list-group-item:hover .on-hide {
    display: block;
}

.modalBoards {
    min-height: 400px !important;
}

.myBoards {
    height: 250px !important;
    overflow-y: auto;
}

h6.card-text {
    max-width: 80% !important;
}